*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

 
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
 
input, label, .btn{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
 
.text-center{
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}